/* style.css */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #010c1c;
    color: #e6e2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    color:#010c1c;
}

form {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

input {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    height:40px;
    margin-top: 40px;
    border-radius: 15px;
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #e63946;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

#results-container {
    margin-top: 2rem;
}

.card {
    border: 2px solid #e63946;
    padding: 1rem;
    border-radius: 8px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.card h3 {
    margin: 0.5rem 0;
    color: #e63946;
}

.safe {
    color: #2a9d8f;
    font-weight: bold;
    font-size: 1.2rem;
}
